*
!banner_sample.png
!config.json
!gcvc.py
!.gitignore
!icon_sample.png
!in
!in/banner
!in/banner/about.txt
!in/icon
!in/icon/about.txt
!make_patches.py
!out
!out/banner
!out/banner/about.txt
!out/icon
!out/icon/about.txt
!patches
!patches/
!patches/*
!patches/*/*
!README.MD
!targets
!targets/banner
!targets/banner/about.txt
!targets/icon
!targets/icon/about.txt
